.main-content {
  padding: 1.2em;
  box-shadow: 5px 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.education-container {
  display: flex;
  flex-direction: column;
}

.edu-title, .exp-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0 10%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: .2em;
}

.education-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  font-size: 1.5em;
  font-family: monospace;
  font-weight: 600;
  padding: 1.25em;
}

.experience-content {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  font-family: monospace;
  padding: 1.25em;
  justify-content: center;
  align-items: center;
}

.experience-extras {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  min-width: 100%;
  padding: .2em;
  font-weight: 600;
}

.experience-description {
  padding: .2em;
  font-weight: 600;
}



