.forms {
  display: grid;
  grid-template: repeat(3, .1fr) / 1fr;
  row-gap: 1.5em;
}

.personal-info, .education-info, .experience-info {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
  gap: .5rem;
}

.personal-info > *, .education-info > *, .experience-info > * {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  font-weight: 600;
}

input {
  padding: .5em;
  font-weight: 600;
  box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
