@import url('./styles/form.css');
@import url('./styles/content.css');
@import url('./styles/heading.css');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E0E0E0;
  display: grid;
  grid-template: .15fr 1fr / 1fr;
  row-gap: 1.2em;
}

.container {
  display: grid;
  grid-template: 1fr / .5fr 1fr;
  column-gap: 1.25em;
  padding: 1.2em;
}

.heading {
  background-color: rgba(100, 100, 100, 0.6);
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: 600;
}

